section{
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

    .title{
        color: red;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .subTitle{
        color: blue;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }
}