
<div class="navbar">
    <h2>
        Something
    </h2>
</div>

<div class="login-container">
    
    <!-- Login -->
    @if(isLogin){
        <form (submit)="onSubmit($event)" >
            <h2>Login</h2>
            
            <div class="form-group">
                
                <input type="text" placeholder="Username" [(ngModel)]="userName" name="userName" /> 
            </div>
    
            <div class="form-group">
                <input type="password" placeholder="Password" [(ngModel)]="userPassword" name="userPassword" />
            </div>
            <button type="submit">Login</button>
            <p>Don't have an account?
                <span class="highlighted" (click)="openLogin($event)" >Register</span>
            </p>
    
        </form>
    } @else {
       <!--  Register -->    
        <form (submit)="onSubmit($event)" >
            <h2>Register</h2>
            
            <div class="form-group">
                <input type="text"  placeholder="Username" [(ngModel)]="userName" name="userName"/>
            </div>

            <div class="form-group">
                <input type="email" placeholder="Email" [(ngModel)]="userEmail" name="userEmail" />
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" [(ngModel)]="userPassword" name="userPassword"/>
            </div>
            <button type="submit">Register</button>
            <p>Already have an account?
                <span class="highlighted" (click)="openLogin($event)" >Login</span>
            </p>

         </form>   
    }


    



</div>