
<div class="navbar">
    <h2>
        Something
    </h2>
</div>

<div class="login-container">
    
    <!-- Login -->
    <!-- <form >
        <h2>Login</h2>
        
        <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email" />
        </div>

        <div class="form-group">
            <input type="password" formContoller="password" placeholder="Password" />
        </div>
        <button type="submit">Login</button>
        <p>Don't have an account?
            <span class="highlighted">Register</span>
        </p>

    </form> -->


    <!--  Register -->
    <form>
        <h2>Register</h2>
        
        <div class="form-group">
            <input type="text" formControlName="username" placeholder="Username" />
        </div>

        <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email" />
        </div>

        <div class="form-group">
            <input type="password" formContoller="password" placeholder="Password" />
        </div>
        <button (click)="onButtonClick()">Register</button>
        <p>Already have an account?
            <span class="highlighted">Login</span>
        </p>

    </form>   



</div>